body{
    background-color: rgb(255,255,255);
    user-select: none;
}
*{
    margin: 0;
    font-weight: 200;
}
#main-text{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    white-space: nowrap;
}
#goodbye{
    top: 250px;
    left: calc(50% + 170px);
}
#xuegongfu{
    top: 450px;
    left: calc(50% - 170px);
}
#china-music{
    top: 250px;
    left: calc(50% - 170px);
}
#china-music{
    background-color: red;
    filter: drop-shadow(0 0 20px rgb(255, 25, 25));
    color: white;
}
#china-music .tag{
    background-color: yellow;
    color: black;
}
.musics{
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: rgb(169, 255, 158);
    width: 300px;
    height: 150px;
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: transform 0.5s ease;
    filter: drop-shadow(0 0 20px rgb(102, 255, 82));
    cursor: pointer;
}
.musics:hover{
    transform: translate(-50%,-70%);
}
.musics p{
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}
.tag{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(30, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
@media screen and (max-width: 600px) {
    #main-text{
        font-size: 40px;
    }
    .musics{
        width: 270px;
        height: 140px;
    }
}